*, *::before, *::after {
  box-sizing: border-box;
}

::selection {
  color: var(--sean);
  background-color: var(--vphn);
}

body {
  margin: 0;
  padding: 0;
  font-weight: 700;
  background-color: var(--vphn);
  font-family: 'Comfortaa', sans-serif;
}

.main-container {
  height: 100vh;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@supports (height: 100dvh) {
  .main-container {
    height: 100dvh;
  }
}

.header-text-container {
  width: 100%;
  max-width: 600px;
  user-select: none;
  text-align: center;
}

.header-text-container .header-text {
  font-size: 78px;
  font-weight: 700;
  line-height: 1.2;
  white-space: nowrap;
  color: var(--qtxc);
  font-family: 'Comfortaa', sans-serif;
}

.search-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;  
  gap: 10px;
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
  padding: 14px 15px;
  border-radius: 30px;
  background: var(--sean);
  transition: background 0.2s ease;
}

.search-container:hover:not(.focused) {
  background: var(--sead);
}

.search-container.focused {
  background: var(--sean);
}

.search-container img {
  cursor: pointer;
  user-drag: none;
  user-select: none;
  vertical-align: middle;
  transition: transform 0.2s ease;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

.icon-left {
  width: 20px;
  height: 20px;
}

.icon-right {
  width: 20px;
  height: 20px;
}

.search-container input {
  flex: 1;
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  padding: 0px;
   max-width: 50px;
  font-weight: 600;
  line-height: normal;
  vertical-align: middle;
  color: var(--vphn);
  font-family: 'Montserrat', sans-serif;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  padding: 0 15px;
  font-weight: 700;
  z-index: 1000;
  display: flex;
  user-select: none;
  align-items: center;
  justify-content: space-between;
  color: var(--sean);
  background-color: var(--fohn);
  font-family: 'Comfortaa', sans-serif;
}

.footer-left {
  display: flex;
  font-size: 15px;
  line-height: 40px;
  gap: 25px;
}

.footer-right {
  display: flex;
  font-size: 18px;
  line-height: 40px;
}

.footer-link {
  cursor: pointer;
  text-decoration: none;
  color: var(--sean);
  -webkit-tap-highlight-color: transparent;
}

.footer-link:hover {
  text-decoration: underline;
}
