::selection {
 color: var(--background-txt-color-1);
 background-color: var(--background-txt-color-2);
}

body {
 margin: 0;
 padding: 0;
 height: 100dh;
 height: 100vh;
 font-weight: 700;
 display: flex;
 font-family: "Comfortaa";
 background: var(--background-color-hover);
}

.leftbar {
 top: 0;
 left: 0;
 width: var(--leftbar-width);
 overflow-y: auto;
 z-index: var(--z);
 display: flex;
 user-select: none;
 flex-direction: column;
 border-right: 2px solid var(--border-color);
 background: var(--background-leftbar);
}

.header-text {
 font-size: var(--header-txt-size);
 padding: 17px 17px 0px 17px;
 display: block;
 text-decoration: none;
 color: var(--txt-color-qs);
 -webkit-tap-highlight-color: var(--none);
}

.toggle-button {
 bottom: 20px;
 right: 20px;
 width: 50px;
 height: 45px;
 z-index: var(--z);
 border-radius: 15px;
 display: flex;
 position: fixed;
 cursor: pointer;
 align-items: center;
 justify-content: center;
 background: var(--button-color);
 -webkit-tap-highlight-color: var(--none);
}

.toggle-button svg {
 width: 27px;
 height: 27px;
 fill: var( --background-color-hover);
}

.toggle-button:hover {
 background: var(--button-color-hv);
}

.buttons {
 font-size: 18px;
 padding: 12px 18px;
 display: block;
 text-decoration: none;
 color: var(--txt-color-bt);
 -webkit-tap-highlight-color: var(--none);
 transition: background 0.5s ease;
}

.buttons-container {
 margin-top: 12px;
 display: flex;
 flex-direction: column;
}

.buttons:hover {
 color: var(--txt-color-bt-hover);
 border-left: 1px solid var(--none);
 background: var(--background-color-hover);
}

.buttons.active {
 color: var(--txt-color-bt-hover);
 border-left: 2px solid var(--border-color);
 background: var(--button-active);
}

.content {
 padding: 30px 40px 10px 40px;
 display: none;
 overflow-y: auto;
 color: var(--txt-color-qs);
}

.content.active {
 display: block;
}

button {
 border: none;
}

p {
 font-size: var(--p-txt-size);
 line-height: 1.4;
}

h1 {
 font-size: var(--h1-txt-size);
 line-height: normal;
 margin-top: 0;
}

a.mail {
 text-decoration: none;
 font-size: var(--a-txt-size);
 color: var(--txt-color-mail);
}