:root {
    /*quaseek*/
  --vphn: #282832;
  --qtxc: #e6e6fa;
  --sean: #d2d2e6;
  --sead: #c8c8dc;
  --fohn: #23232d;
    /*privacy*/
  --phn: #282832;
  --txzgv: #e1e1f0;
  --txni: #d2d2e6;
  --txgm: #0077cc;
}
