body {
  height: 100vh;
  font-size: 40px;
   font-weight: 700;
  display: flex;
  overflow: hidden;
  user-select: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: var(--htxt);
  background: var(--zphn);
  font-family: 'Comfortaa';
}