:root {
    /* all */
    --orange: rgb(200, 80, 0);
    --blue: rgb(50, 50, 100);
    --none: transparent;
    --max-radius: 999px;
    /* quaseek */
    --background: rgb(35, 35, 40);
    --header: transparent;
    --logo: rgb(245, 245, 255);
    --search-container: rgb(70, 70, 80);
    --search-container-hover: rgb(67, 67, 77);
    --search-text: rgb(240, 240, 250);
    --search-placeholder: rgb(180, 180, 190);
    --search-container-icon: rgb(240, 240, 250);
    --footer: rgb(30, 30, 35);
    --footer-text: rgb(240, 240, 250);
    --settings: rgb(30, 30, 35);
    --settings-text: rgb(240, 240, 250);
    --settings-button-hover: rgb(40, 40, 45);
    --settings-button-click: rgb(45, 45, 50);
    --settings-button-active: rgb(40, 40, 70);
    --status: rgb(45, 45, 50);
    --status-text: rgb(240, 240, 250);
    --feast-day-text: rgb(240, 240, 250);
    --text-non-working: rgb(160, 160, 170);
    /* quaseek information */
    --background-in: rgb(35, 35, 40);
    --nav-in: rgb(33, 33, 38);
    --logo-in: rgb(245, 245, 255);
    --nav-button-hover-in: rgb(40, 40, 45);
    --nav-button-click-in: rgb(40, 40, 45);
    --nav-button-active-in: rgb(45, 45, 75);
    --nav-button-text-in: rgb(240, 240, 250);
    --menu-button-in: rgb(45, 45, 50);
    --menu-button-active-in: rgb(47, 47, 52);
    --menu-button-icon-in: rgb(240, 240, 250);
    --info-text-in: rgb(240, 240, 250);
    --content-container-text-in: rgb(240, 240, 250);
    --mail-text-in: rgb(180, 180, 250);
    --radius-button-in: 0 999px 999px 0;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('../fonts/Comfortaa/Comfortaa-700.woff') format('woff'),
        url('../fonts/Comfortaa/Comfortaa-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-600.woff') format('woff'),
        url('../fonts/Montserrat/Montserrat-600.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: block;
}