:root {
    --text-notwork: rgb(160, 160, 170);
    --none: transparent;
    /* quaseek */
    --selection-1: rgb(35, 35, 40);
    --background: rgb(35, 35, 40);
    --header: transparent;
    --heading: rgb(245, 245, 255);
    --search-container: rgb(70, 70, 80);
    --search-container-hover: rgb(67, 67, 77);
    --search-text: rgb(240, 240, 250);
    --search-placeholder: rgb(180, 180, 190);
    --search-icon: rgb(240, 240, 250);
    --footer: rgb(30, 30, 35);
    --footer-text: rgb(240, 240, 250);
    --menu: rgb(30, 30, 35);
    --menu-button: rgb(38, 38, 43);
    --menu-text: rgb(240, 240, 250);
    --notification-connection: rgb(80, 45, 45);
    --notification-display: rgb(45, 45, 80);
    --notification-text: rgb(240, 240, 250);
    /* quaseek information */
    --selection-2: rgb(80, 80, 85);
    --background-2: rgb(35, 35, 40);
    --nav-2: rgb(32, 32, 37);
    --heading-2: rgb(245, 245, 255);
    --nav-button-2: rgb(40, 40, 45);
    --nav-button-active-2: rgb(45, 45, 50);
    --nav-button-text-2: rgb(240, 240, 250);
    --menu-button-2: rgb(45, 45, 50);
    --menu-button-hover-2: rgb(47, 47, 52);
    --menu-icon-2: rgb(240, 240, 250);
    --info-text-2: rgb(240, 240, 250);
    --content-container-text-2: rgb(240, 240, 250);
    --mail-text-2: rgb(180, 180, 250);
}

@font-face {
    font-family: 'Comfortaa';
    src: url('../fonts/Comfortaa/Comfortaa-700.woff') format('woff'),
        url('../fonts/Comfortaa/Comfortaa-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-600.woff') format('woff'),
        url('../fonts/Montserrat/Montserrat-600.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: block;
}