html,
*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  background-color: var(--background-txt-color-1);
  color: var(--background-txt-color-2);
}

body {
  margin: 0;
  padding: 0;
  opacity: 1;
  min-height: 100vh;
  min-height: 100dvh;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  font-family: "Comfortaa";
  background: var(--background-color);
}

header {
  opacity: 1;
  height: 40px;
  width: 100%;
  padding: 0px 4px;
  gap: 5px;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: var(--none);
}

.header-button-container {
  height: 100%;
  width: auto;
  opacity: 1;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.header-button {
  height: 80%;
  width: auto;
  border-radius: 10px;
  padding: 0px 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--footer-txt-color);
  background: var(--none);
  transition: background 0.2s ease;
  -webkit-tap-highlight-color: var(--none);
}

.search-system-container {
  height: 100%;
  width: auto;
  opacity: 1;
  gap: 5px;
  font-size: 14px;
  display: none;
  align-items: center;
}

.search-system-button {
  height: 80%;
  width: auto;
  border-radius: 10px;
  padding: 0px 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--header-txt-color);
  background: var(--none);
  transition: background 0.2s ease;
  -webkit-tap-highlight-color: var(--none);
}

.search-system-container.visible {
  display: flex;
}

.search-system-button:hover,
.search-system-button.active,
.header-button:hover,
.header-button.active {
  background: var(--header-button-color-hover-active);
}

footer {
  opacity: 1;
  height: 40px;
  width: 100%;
  padding: 0px 5px;
  border-radius: 12px 12px 0px 0px;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--footer-background-color);
}

.footer-left {
  height: 100%;
  width: auto;
  opacity: 1;
  gap: 8px;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.footer-right {
  height: 100%;
  width: auto;
  opacity: 1;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.footer-left-link {
  height: 70%;
  width: auto;
  border-radius: 10px;
  padding: 0px 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--footer-txt-color);
  background: var(--none);
  transition: background 0.2s ease;
  -webkit-tap-highlight-color: var(--none);
}

.footer-right-link {
  height: 100%;
  width: auto;
  padding: 0px 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--footer-txt-color);
  background: var(--none);
  -webkit-tap-highlight-color: var(--none);
}

.footer-left-link:hover {
  background: var(--footer-button-color-hover);
}

.block-up {
  width: 100%;
  flex: 1;
  opacity: 1;
  padding: 10px 0px 11px 0px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: var(--none);
}

.block-down {
  width: 100%;
  flex: 1;
  opacity: 1;
  padding: 12px 15px 10px 15px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: var(--none);
}

.heading-text {
  margin: 0;
  font-size: 78px;
  user-select: none;
  color: var(--heading-txt-color);
}

.search-container {
  height: 50px;
  width: 100%;
  max-width: 600px;
  padding: 0px 15px;
  gap: 10px;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: var(--background-search-container-color);
}

.search-container input {
  min-width: 0px;
  flex: 1;
  font-size: 18px;
  padding: 0px;
  font-weight: 600;
  border: none;
  outline: none;
  background: var(--none);
  line-height: normal;
  vertical-align: middle;
  font-family: 'Montserrat';
  color: var(--txt-search-container-color);
  appearance: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: var(--none);
}


.search-container.hovered {
  background: var(--background-search-container-color-hover);
}

.search-container.focused {
  background: var(--background-search-container-color);
}

.icon-left,
.icon-right {
  height: 20px;
  width: 20px;
  cursor: pointer;
  color: var(--img-icon-color);
  -webkit-tap-highlight-color: var(--none);
}

input::placeholder {
  opacity: 0;
  font-weight: 600;
  font-family: 'Montserrat';
  color: var(--txt-search-container-color);
}