html,
*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  background-color: var(--background-txt-color-1);
  color: var(--background-txt-color-2);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-height: 100dvh;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  font-family: "Comfortaa";
  background: var(--background-color);
  -webkit-tap-highlight-color: var(--none);
}

header {
  opacity: 0;
  height: 40px;
  width: 100%;
  padding: 0 4px;
  gap: 0;
  user-select: none;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: var(--none);
}

footer {
  opacity: 1;
  height: 40px;
  width: 100%;
  padding: 0 10px;
  border-radius: 12px 12px 0 0;
  user-select: none;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--footer-background-color);
}

.footer-left {
  height: 100%;
  width: auto;
  opacity: 1;
  gap: 8px;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.footer-right {
  height: 100%;
  width: auto;
  opacity: 1;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.footer-left-link,
.footer-right-link {
  height: 70%;
  width: auto;
  border-radius: 10px;
  padding: 0 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--footer-txt-color);
  background: var(--none);
  transition: background 0.2s ease;
}

.footer-left-link.active,
.footer-left-link:hover {
  background: var(--footer-button-color-hover);
}

.settings-container {
  height: auto;
  width: 11.25rem;
  bottom: 50px;
  left: 10px;
  gap: 8px;
  font-size: 15px;
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--none);
}

.settings-menu-container {
  height: auto;
  width: 100%;
  gap: 8px;
  padding: 8px 8px;
  border-radius: 14px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--footer-background-settings-container);
}

.settings-button-menu {
  height: auto;
  width: 100%;
  padding: 8px 8px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--footer-txt-color);
  transition: 0.2s ease background;
  background: var(--none);
}

.settings-menu-container.visible,
.settings-container.visible {
  display: flex;
}

.settings-button-menu.active,
.settings-button-menu:hover {
  background: var(--footer-background-button-hover-active);
}


.block-up {
  width: 100%;
  flex: 1;
  opacity: 1;
  padding: 10px 0 11px 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: var(--none);
}

.block-down {
  width: 100%;
  flex: 1;
  opacity: 1;
  padding: 12px 15px 10px 15px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: var(--none);
}

.heading-text {
  margin: 0;
  font-size: 78px;
  user-select: none;
  color: var(--heading-txt-color);
}

.search-container {
  height: 50px;
  width: 100%;
  max-width: 37.5rem;
  padding: 0 15px;
  gap: 10px;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: var(--background-search-container-color);
}

.search-container input {
  min-width: 0;
  flex: 1;
  font-size: 18px;
  padding: 0;
  font-weight: 600;
  border: none;
  outline: none;
  background: var(--none);
  line-height: normal;
  vertical-align: middle;
  font-family: 'Montserrat';
  color: var(--txt-search-container-color);
  appearance: none;
  -webkit-appearance: none;
}


.search-container.hovered {
  background: var(--background-search-container-color-hover);
}

.search-container.focused {
  background: var(--background-search-container-color);
}

.icon-left,
.icon-right {
  height: 20px;
  width: 20px;
  cursor: pointer;
  color: var(--img-icon-color);
}

input::placeholder {
  opacity: 0;
  font-weight: 600;
  font-family: 'Montserrat';
  color: var(--txt-search-container-color);
}