header,
footer,
.block-up,
.block-down,
.heading-text,
.search-container,
.search-container input,
.footer-left,
.footer-right,
.icon-left,
.icon-right {
    transition:
        gap 0.1s ease,
        width 0.1s ease,
        height 0.1s ease,
        padding 0.1s ease,
        font-size 0.1s ease;
}


@media (max-width: 580px) {
    .heading-text {
        font-size: 68px;
    }

    .search-container {
        height: 48px;
        gap: 9px;
    }

    .icon-left,
    .icon-right {
        height: 19px;
        width: 19px;
    }
}

@media (max-width: 480px) {
    .block-up {
        padding: 10px 0px 10px 0px;
    }

    .heading-text {
        font-size: 58px;
    }

    footer {
        justify-content: center;
        padding: 0px;
    }

    .footer-right {
        display: none;
    }
}

@media (max-width: 380px) {
    .block-up {
        padding: 10px 0px 8px 0px;
    }

    .heading-text {
        font-size: 48px;
    }

    .search-container {
        height: 46px;
    }

    .icon-left,
    .icon-right {
        height: 18px;
        width: 18px;
    }
}

@media (max-width: 325px) {

    .header-button-container,
    .search-system-container {
        font-size: 13px;
    }
}

@media (max-width: 320px) {
    .block-up {
        padding: 10px 0px 5px 0px;
    }

    .heading-text {
        font-size: 38px;
    }

    .search-container {
        height: 40px;
        padding: 0px 13px;
    }

    .search-container input {
        font-size: 16px;
    }

    footer {
        height: 38px;
    }

    .footer-left {
        font-size: 14px;
    }

    .icon-left,
    .icon-right {
        height: 16px;
        width: 16px;
    }
}

@media (max-width: 280px) {

    .header-button-container,
    .search-system-container {
        font-size: 12px;
    }

    .block-up {
        padding: 10px 0px 3px 0px;
    }

    .heading-text {
        font-size: 30px;
    }

    .search-container {
        height: 36px;
        padding: 0px 11px;
    }

    .search-container input {
        font-size: 14px;
    }

    footer {
        height: 36px;
    }

    .footer-left {
        font-size: 13px;
    }

    .icon-left,
    .icon-right {
        height: 15px;
        width: 15px;
    }
}

@media (max-width: 250px) {

    .header-button-container,
    .search-system-container {
        font-size: 11px;
    }
}

@media (max-width: 230px) {
    html {
        background: var(--background-color);
    }

    body {
        display: none;
    }
}