@media (max-width: 580px) {
    .heading-text {
        font-size: 68px;
    }

    .search-container {
        height: 48px;
        gap: 9px;
    }

    .icon-left,
    .icon-right {
        height: 19px;
        width: 19px;
    }
}

@media (max-width: 480px) {
    .block-up {
        padding: 10px 0 10px 0;
    }

    .heading-text {
        font-size: 58px;
    }

    footer {
        justify-content: center;
        padding: 0;
    }

    .footer-right {
        display: none;
    }

    .settings-container {
        right: 0;
        left: 0;
        margin: 0 auto;
    }

    .footer-left {
        gap: 12px;
    }
}

@media (max-width: 380px) {
    .block-up {
        padding: 10px 0 8px 0;
    }

    .heading-text {
        font-size: 48px;
    }

    .search-container {
        height: 46px;
    }

    .footer-left {
        gap: 10px;
    }

    .icon-left,
    .icon-right {
        height: 18px;
        width: 18px;
    }
}

@media (max-width: 320px) {
    .block-up {
        padding: 10px 0 5px 0;
    }

    .heading-text {
        font-size: 38px;
    }

    .search-container {
        height: 40px;
        padding: 0 13px;
    }

    .search-container input {
        font-size: 16px;
    }

    header,
    footer {
        height: 38px;
    }

    .settings-container {
        bottom: 46px;
    }

    .settings-container {
        font-size: 14px;
    }

    .footer-left {
        font-size: 14px;
        gap: 5px;
    }

    .icon-left,
    .icon-right {
        height: 16px;
        width: 16px;
    }
}

@media (max-width: 280px) {
    .block-up {
        padding: 10px 0 3px 0;
    }

    .heading-text {
        font-size: 30px;
    }

    .search-container {
        height: 36px;
        padding: 0 11px;
    }

    .search-container input {
        font-size: 14px;
    }

    header,
    footer {
        height: 34px;
    }

    .settings-container {
        bottom: 42px;
    }

    .settings-container {
        font-size: 12px;
    }

    .footer-left {
        font-size: 12px;
        gap: 2px;
    }

    .icon-left,
    .icon-right {
        height: 15px;
        width: 15px;
    }
}

@media (max-width: 240px) {
    html {
        background: var(--background-color);
    }

    body {
        display: none;
    }
}