:root {
    /* selection */
 --background-txt-color-1: #282832;
 --background-txt-color-2: #dcdcf0;
 --background-txt-color-3: #e6e6fa;
 --background-txt-color-4: #f0f0fa;
    /* quaseek */
 --background-search-txt-color-st: #dcdcf0;
 --background-search-color-hv: #d2d2e6;
 --background-footer-color: #23232d;
 --background-txt-color: #282832;
 --placeholder-color: #282832;
 --footer-txt-color: #dcdcf0;
 --txt-img-color: #282832;
 --txt-span-q: #e6e6fa;
 --none: transparent;
    /* light */
 --background-search-txt-color-st-light: #f0f0fa;
 --background-search-color-hv-light: #f0f0fa;
 --background-footer-color-light: #e6e6f0;
 --background-txt-color-light: #f0f0fa;
 --footer-txt-color-light: #282832;
 --txt-span-q-light: #282832;
    /* documents */
 --background-color-hover: #282832;
 --background-leftbar: #23232d;
 --txt-color-bt-hover: #dcdcf0;
 --txt-color-mail: #0077cc;
 --txt-color-bt: #d2d2e6;
 --txt-color-qs: #e6e6fa;
 --border-color: #32323c;
 --button-color: #bebefa;
 --button-active: #2d2d37;
 --button-color-hv: #c3c3ff;
    /* error */
 --background: #282832;
 --txt: #e6e6fa;
   /* px | rem */
 --search-container-width: 37.5rem; /* 600px */ /* qs */
 --footer-height-normal: 40px;
 --footer-height-mobile: 38px;
 --foter-left-txt-size: 15px;
 --foter-right-txt-size: 18px;
 --leftbar-width: 13.75rem; /* 220px */ /* dc */
 --header-txt-size: 23px;
 --p-txt-size: 16px;
 --h1-txt-size: 29px;
 --a-txt-size: 16px;
 --z: 1000;
}

/* fonts_сomfortaa-700 */
@font-face {
 font-family: 'Comfortaa';
 src: url('/assets/fonts/Comfortaa-Bold/Comfortaa-Bold.woff2') format('woff2'),
      url('/assets/fonts/Comfortaa-Bold/Comfortaa-Bold.woff') format('woff');
 font-weight: 700;
 font-style: normal;
 font-display: block;
}
/* fonts_montserrat-600 */
@font-face {
 font-family: 'Montserrat';
 src: url('/assets/fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff2') format('woff2'),
      url('/assets/fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff') format('woff');
 font-weight: 600;
 font-style: normal;
 font-display: block;
}
/* fonts_montserrat-500 */
@font-face {
 font-family: 'Montserrat';
 src: url('/assets/fonts/Montserrat-Medium/Montserrat-Medium.woff2') format('woff2'),
      url('/assets/fonts/Montserrat-Medium/Montserrat-Medium.woff') format('woff');
 font-weight: 500;
 font-style: normal;
 font-display: block;
}