/* Color */
:root {
    /* quaseek */
  --vphn: #282832;
  --qtxc: #e6e6fa;
  --sean: #dcdcf0;
  --sead: #d2d2e6;
  --fohn: #23232d;
    /* privacy */
  --phn: #282832;
  --txzgv: #e1e1f0;
  --txni: #dcdcf0;
  --txgm: #0077cc;
    /* update */
  --zphn: #282832;
  --htxt: #e6e6fa;
  --ptxt: #e6e6fa;
}

/* fonts */
/* fonts 1 */
@font-face {
  font-family: 'Comfortaa';
  src: url('/assets/fonts/Comfortaa-Bold/Comfortaa-Bold.woff2') format('woff2'),
       url('/assets/fonts/Comfortaa-Bold/Comfortaa-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
font-display: block;
}
/* fonts 2 */
@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff2') format('woff2'),
       url('/assets/fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
font-display: block;
}
/* fonts 3 */
@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Medium/Montserrat-Medium.woff2') format('woff2'),
       url('/assets/fonts/Montserrat-Medium/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
font-display: block;
}