:root {
    /* selection */
 --background-txt-color-1: #282832;
 --background-txt-color-2: #dcdcf0;
 --background-txt-color-3: #e6e6fa;
    /* quaseek */
 --background-search-txt-color-st: #dcdcf0;
 --background-search-color-hv: #d2d2e6;
 --background-footer-color: #23232d;
 --background-txt-color: #282832;
 --placeholder-color: #282832;
 --txt-span-q: #e6e6fa;
 --none: transparent;
    /* documents */
 --background-color-hover: #282832;
 --background-leftbar: #23232d;
 --txt-color-bt-hover: #dcdcf0;
 --txt-color-mail: #0077cc;
 --txt-color-bt: #d2d2e6;
 --txt-color-qs: #e6e6fa;
 --border-color: #32323c;
 --button-color: #bebefa;
 --button-active: #2d2d37;
 --button-color-hv: #c3c3ff;
    /* error */
 --background: #282832;
 --txt: #e6e6fa;
}

/* scroll */
::-webkit-scrollbar {
  background: var(--none);
}

::-webkit-scrollbar-thumb {
  background-color: var(--none);
}

/* fonts_сomfortaa-700 */
@font-face {
 font-family: 'Comfortaa';
 src: url('/assets/fonts/Comfortaa-Bold/Comfortaa-Bold.woff2') format('woff2'),
      url('/assets/fonts/Comfortaa-Bold/Comfortaa-Bold.woff') format('woff');
 font-weight: 700;
 font-style: normal;
 font-display: block;
}
/* fonts_montserrat-600 */
@font-face {
 font-family: 'Montserrat';
 src: url('/assets/fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff2') format('woff2'),
      url('/assets/fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff') format('woff');
 font-weight: 600;
 font-style: normal;
 font-display: block;
}
/* fonts_montserrat-500 */
@font-face {
 font-family: 'Montserrat';
 src: url('/assets/fonts/Montserrat-Medium/Montserrat-Medium.woff2') format('woff2'),
      url('/assets/fonts/Montserrat-Medium/Montserrat-Medium.woff') format('woff');
 font-weight: 500;
 font-style: normal;
 font-display: block;
}