::selection {
  color: var(--background-txt-color-1);
  background-color: var(--background-txt-color-3);
}

body {
  margin: 5px;
  padding: 40px 20px;
  font-family: 'Montserrat';
  font-weight: 500;
  background-color: var(--background-color);
  line-height: 1.6;
}

.container {
  max-width: 800px;
  margin: auto;
}

h1 {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 600;
  color: var(--txt-color-zg);
  line-height: 1.2;
}

p {
  font-size: 16px;
  margin-bottom: 15px;
  color: var(--txt-color-gl);
}

a.mail {
  color: var(--txt-color-mail);
  text-decoration: none;
}

a.back {
  color: var(--txt-color-back);
   text-decoration: none;
}

a.mail:hover {
  text-decoration: underline;
}