.notification {
    height: 100%;
    display: flex;
    justify-content: center;
}

.notification .display,
.notification .connection {
    height: 100%;
    font-size: 15px;
    padding: 0 12px;
    border-radius: 10px;
    user-select: none;
    display: none;
    align-items: center;
    justify-content: center;
    color: var(--notification-text);
    background: var(--notification-connection);
}

.notification .display {
    background: var(--notification-display);
}

.notification .display.active,
.notification .connection.active {
    display: flex;
}