@media (max-width: 550px) {
    .logo {
        font-size: 68px;
        margin-bottom: 9px;
    }

    .search-container {
        height: 48px;
        margin-top: 18px;
    }
}

@media (max-width: 500px) {
    .logo {
        font-size: 60px;
        margin-bottom: 8px;
    }

    .search-container {
        height: 46px;
        margin-top: 16px;
        padding: 0 14px;
        gap: 9px;
    }

    .search-container input {
        font-size: 17px;
    }

    .clear-icon,
    .search-icon {
        height: 19px;
        width: 19px;
    }
}

@media (max-width: 450px) {
    .logo {
        font-size: 54px;
        margin-bottom: 7px;
    }

    .search-container {
        height: 44px;
        margin-top: 14px;
        padding: 0 13px;
    }

    footer {
        justify-content: center;
    }

    footer .left-container,
    footer .right-container,
    header {
        height: 38px;
    }

    .settings .button,
    .feast-day .text,
    footer .text {
        font-size: 13px;
    }

    .settings-container {
        bottom: 43px;
    }
}

@media (max-width: 400px) {
    .logo {
        font-size: 48px;
        margin-bottom: 6px;
    }

    .search-container {
        height: 42px;
        margin-top: 12px;
        padding: 0 12px;
    }

    .search-container input {
        font-size: 16px;
    }

    footer {
        padding: 0;
    }

    footer .left-container {
        gap: 18px;
        margin-right: 18px;
    }

    .clear-icon,
    .search-icon {
        height: 18px;
        width: 18px;
    }
}

@media (max-width: 350px) {
    .logo {
        font-size: 42px;
        margin-bottom: 5px;
    }

    .search-container {
        height: 40px;
        margin-top: 10px;
    }

    footer .left-container {
        gap: 13px;
        margin-right: 13px;
    }

    footer .right-container,
    footer .left-container,
    header {
        height: 36px;
    }

    .settings .button,
    .feast-day .text,
    footer .text {
        font-size: 12px;
    }

    .settings-container {
        bottom: 41px;
    }
}

@media (max-width: 300px) {
    .logo {
        font-size: 35px;
        margin-bottom: 4px;
    }

    .search-container {
        height: 38px;
        margin-top: 8px;
        padding: 0 11px;
    }

    .search-container input {
        font-size: 15px;
    }

    footer .right-container,
    footer .left-container,
    header {
        height: 36px;
    }

    footer .left-container {
        margin-right: 10px;
        gap: 10px;
    }

    .settings .button,
    .feast-day .text,
    footer .text {
        font-size: 11px;
    }

    .clear-icon,
    .search-icon {
        height: 17px;
        width: 17px;
    }
}

@media (max-width: 250px) {

    .block-top,
    .block-bottom,
    .settings-container.active,
    footer {
        display: none;
    }
}

@media (max-height: 216px) {
    .settings-container {
        bottom: 0;
    }
}