@media (max-width: 530px) {
    .block-top {
        padding: 8px 10px 12px 10px;
    }

    .block-bottom {
        padding: 12px 10px 8px 10px;
    }

    .heading {
        font-size: 68px;
    }

    .search-container {
        height: 48px;
    }
}

@media (max-width: 480px) {
    .block-top {
        padding: 8px 10px 10px 10px;
    }

    .block-bottom {
        padding: 10px 10px 8px 10px;
    }

    .heading {
        font-size: 58px;
    }

    .search-container {
        height: 46px;
    }

    .search-container input {
        font-size: 17px;
    }

    .clear-icon,
    .search-icon {
        height: 19px;
        width: 19px;
    }

    footer {
        justify-content: center;
        padding: 0;
    }
}

@media (max-width: 420px) {
    .block-top {
        padding: 8px 10px 8px 10px;
    }

    .block-bottom {
        padding: 8px 10px 8px 10px;
    }

    .heading {
        font-size: 48px;
    }

    .search-container {
        height: 44px;
    }

    .search-container input {
        font-size: 16px;
    }

    .clear-icon,
    .search-icon {
        height: 18px;
        width: 18px;
    }

    .footer-right-container,
    .footer-left-container,
    footer {
        gap: 20px;
    }

    header,
    footer {
        height: 38px;
    }

    .button,
    .footer-text {
        font-size: 13px;
    }

    .display,
    .connection {
        font-size: 14px;
    }
}

@media (max-width: 350px) {
    .heading {
        font-size: 40px;
    }

    .search-container {
        height: 42px;
        gap: 8px;
    }

    .search-container input {
        font-size: 15px;
    }

    .clear-icon,
    .search-icon {
        height: 17px;
        width: 17px;
    }

    .footer-right-container,
    .footer-left-container,
    footer {
        gap: 15px;
    }

    .button,
    .footer-text {
        font-size: 12px;
    }

    .display,
    .connection {
        font-size: 13px;
    }
}

@media (max-width: 300px) {
    .block-top {
        padding: 8px 10px 6px 10px;
    }

    .block-bottom {
        padding: 6px 10px 8px 10px;
    }

    .heading {
        font-size: 36px;
    }

    .search-container {
        height: 40px;
        padding: 0 13px;
    }

    .search-container input {
        font-size: 14px;
    }

    .clear-icon,
    .search-icon {
        height: 16px;
        width: 16px;
    }

    .footer-right-container,
    .footer-left-container,
    footer {
        gap: 10px;
    }

    header,
    footer {
        height: 36px;
    }

    .button,
    .footer-text {
        font-size: 11px;
    }

    .display,
    .connection {
        font-size: 12px;
    }
}

@media (max-width: 250px) {

    footer,
    .block-top,
    .block-bottom {
        display: none;
    }
}

@media (max-height: 140px) {
    .settings-container {
        bottom: 0;
    }
}