header .display,
header .connection {
    height: 100%;
    font-size: 15px;
    padding: 0 12px;
    border-radius: 10px;
    user-select: none;
    display: none;
    align-items: center;
    justify-content: center;
    color: var(--errors-text);
    background: var(--connection);
}

header .display {
    background: var(--display);
}

header .display.active,
header .connection.active {
    display: flex;
}