* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100svh;
    font-weight: 600;
    font-family: 'Montserrat';
    background: var(--background);
    -webkit-tap-highlight-color: var(--none);
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header {
    height: 40px;
    flex-shrink: 0;
    overflow: hidden;
    background: var(--header);
}

.block-top {
    flex: 1;
    padding: 0 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.block-bottom {
    flex: 1;
    padding: 0 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo {
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 78px;
    font-weight: 700;
    line-height: 1;
    overflow: hidden;
    user-select: none;
    font-family: 'Comfortaa';
    color: var(--logo);
    transition: all 40ms linear;
}

.search-container {
    height: 50px;
    width: 100%;
    max-width: 600px;
    gap: 10px;
    padding: 0 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: var(--max-radius);
    cursor: text;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--search-container);
    transition: all 80ms linear;
}

.search-container input {
    height: 100%;
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    border: none;
    outline: none;
    appearance: none;
    font-family: 'Montserrat';
    color: var(--search-text);
    background: var(--none);
}

.search-container .icon-container {
    height: 100%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.clear-icon,
.search-icon {
    height: 20px;
    width: 20px;
    color: var(--search-container-icon);
}

.search-container input::placeholder {
    user-select: none;
    color: var(--search-placeholder);
}

.search-container:hover,
.search-container:focus-within {
    background: var(--search-container-hover);
}

footer {
    padding: 0 20px;
    flex-shrink: 0;
    overflow: hidden;
    user-select: none;
    display: flex;
    justify-content: space-between;
    background: var(--footer);
    transition: all 40ms linear;
}

footer .left-container,
footer .right-container {
    height: 40px;
    gap: 25px;
    display: flex;
    align-items: center;
}

footer .left-container {
    margin-right: 25px;
}

footer .text {
    height: 100%;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--footer-text);
}

footer .text:hover {
    text-decoration: underline;
}

.settings-container {
    bottom: 45px;
    right: 5px;
    gap: 5px;
    z-index: 3;
    position: absolute;
    display: none;
    align-items: center;
    flex-direction: column-reverse;
}

.settings {
    width: 150px;
    gap: 2px;
    padding: 6px 0;
    border-radius: 8px;
    display: none;
    flex-direction: column;
    background: var(--settings);
}

.settings .button {
    width: 100%;
    font-size: 14px;
    padding: 8px 10px;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    color: var(--settings-text);
    transition: all 80ms linear;
}

.settings-container.active,
.settings.active {
    display: flex;
}

.settings .button:hover {
    background: var(--settings-button-hover);
}

.settings .button:active {
    background: var(--settings-button-click);
}

.settings .button.active {
    background: var(--settings-button-active);
}

/* --- ID --- */

#theme {
    color: var(--text-non-working);
}