::selection {
    color: var(--background-txt-color-1);
    background-color: var(--background-txt-color-3);
}

body {
    padding: 0px;
    margin: 0px;
    opacity: 1;
    height: 100vh;
    height: 100dvh;
    font-weight: 700;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--txt-color-2);
    background: var(--background-color-2);
    font-family: 'Comfortaa';
}

h1 {
    margin: 0;
    padding-bottom: 6px;
    font-size: 80px;
}

p {
    margin: 0;
    padding-top: 6px;
    font-size: 35px;
}