html,
*,
*::before,
*::after {
    box-sizing: border-box;
}

::selection {
    color: var(--background-txt-color-1);
    background-color: var(--background-txt-color-3);
}

body {
    margin: 0;
    padding: 0;
    height: 100dvh;
    height: 100vh;
    opacity: 1;
    font-weight: 700;
    display: flex;
    font-family: "Comfortaa";
    background: var(--background-color-1);
}

.leftbar {
    top: 0;
    left: 0;
    height: 100%;
    width: 220px;
    z-index: 10;
    padding: 0px 5px 0px 5px;
    display: flex;
    overflow-y: auto;
    user-select: none;
    flex-direction: column;
    border-right: 1px solid var(--border-color);
    background: var(--leftbar-background);
}

.heading-text {
    font-size: 23px;
    padding: 17px 17px 0px 17px;
    display: block;
    text-decoration: none;
    color: var(--heading-txt-color-1);
    -webkit-tap-highlight-color: var(--none);
}

.toggle-button {
    height: 45px;
    width: 50px;
    right: 20px;
    bottom: 20px;
    z-index: 12;
    opacity: 1;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    background: var(--toggle-background-color);
    -webkit-tap-highlight-color: var(--none);
}

.toggle-button svg {
    height: 27px;
    width: 27px;
    color: var(--toggle-img-color);
}

.buttons {
    font-size: 18px;
    padding: 11px 18px;
    border-radius: 30px;
    display: block;
    text-decoration: none;
    color: var(--button-txt-color);
    transition: background 0.2s ease;
    -webkit-tap-highlight-color: var(--none);
}

.buttons-container {
    gap: 3px;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
}

.buttons:hover {
    color: var(--button-txt-color-hover);
    background: var(--button-background-color-hover);
}

.buttons.active {
    color: var(--button-txt-color-hover);
    background: var(--button-background-color-active);
}

.content {
    padding: 30px 40px 10px 40px;
    display: none;
    overflow-y: auto;
    color: var(--content-txt-color);
}

.content.active {
    display: block;
}

button {
    border: none;
}

p {
    font-size: 16px;
    line-height: 1.4;
}

h1 {
    margin-top: 0;
    font-size: 29px;
    line-height: normal;
}

a.mail {
    font-size: 16px;
    user-select: none;
    text-decoration: none;
    color: var(--mail-txt-color);
}